{% extends "admin/admin.html" %}
{% macro render_field(field) %}
    <td>
        {{ field(class_="form-control", placeholder=field.label.text, value=data.get(field.name, ''), **kwargs)|safe }}
        {% if field.errors %}
            <ul class="errors">
                {% for error in field.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </td>
{% endmacro %}
{% block content %}
    <style>
        .btn-submit {
            float: right;
            margin-right: 10px;
            margin-bottom: 10px;
        }

        .errors {
            color: red;
        }
    </style>
    <section class="content-header">
        <h1>生丝水分控制后台管理系统</h1>
        <ol class="breadcrumb">
            <li>
                <a href="#"><i class="fa fa-dashboard"></i> 生丝水分控制</a>
            </li>
            <li class="active">报警控制</li>
        </ol>
    </section>
    <section class="content" id="showcontent">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title">报警管理</h3>
                    </div>
                    <ul
                            class="nav nav-tabs"
                            role="tablist"
                            style="margin-left: 10px; margin-bottom: 10px"
                    >
                        <li role="presentation" class="active">
                            <a href="#sshc" aria-controls="sshc" role="tab" data-toggle="tab"
                            >松散回潮</a
                            >
                        </li>
                        <li role="presentation">
                            <a href="#ryjl" aria-controls="ryjl" role="tab" data-toggle="tab"
                            >润叶加料</a
                            >
                        </li>
                        <li role="presentation">
                            <a href="#cy" aria-controls="cy" role="tab" data-toggle="tab"
                            >储叶</a
                            >
                        </li>
                        <li role="presentation">
                            <a href="#qs" aria-controls="qs" role="tab" data-toggle="tab"
                            >切丝</a
                            >
                        </li>
                        <li role="presentation">
                            <a href="#sssf" aria-controls="sssf" role="tab" data-toggle="tab"
                            >生丝水分</a
                            >
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="sshc">
                            <div class="box-body table-responsive no-padding">
                                <form method="POST">
                                    {{ form.csrf_token }}
                                    <table class="table table-hover">
                                        <tbody>
                                        <tr>
                                            <th>生产阶段</th>
                                            <th>影响因素名称</th>
                                            <th>控制范围下限</th>
                                            <th>控制范围上限</th>
                                        </tr>
                                        <tr>
                                            <td>松散回潮</td>
                                            <td>出口水分</td>
                                            {{ render_field(form.sshc_cksf_down) }} {{ render_field(form.sshc_cksf_up) }}
                                        </tr>
                                        </tbody>
                                    </table>
                                    <button type="submit" class="btn btn-default btn-submit">
                                        保存
                                    </button>
                                </form>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="ryjl">
                            <div class="box-body table-responsive no-padding">
                                <form method="POST">
                                    {{ form.csrf_token }}
                                    <table class="table table-hover">
                                        <tbody>
                                        <tr>
                                            <th>生产阶段</th>
                                            <th>影响因素名称</th>
                                            <th>控制范围下限</th>
                                            <th>控制范围上限</th>
                                        </tr>
                                        <tr>
                                            <td>润叶加料</td>
                                            <td>入口水分</td>
                                            {{ render_field(form.yjl_rksf_down) }} {{ render_field(form.yjl_rksf_up) }}
                                        </tr>
                                        <tr>
                                            <td>润叶加料</td>
                                            <td>物料累计重量</td>
                                            {{ render_field(form.yjl_wlljzl_down) }} {{ render_field(form.yjl_wlljzl_up) }}
                                        </tr>
                                        <tr>
                                            <td>润叶加料</td>
                                            <td>瞬时加水量</td>
                                            {{ render_field(form.yjl_ssjsl_down) }} {{ render_field(form.yjl_ssjsl_up) }}
                                        </tr>
                                        <tr>
                                            <td>润叶加料</td>
                                            <td>料液温度</td>
                                            {{ render_field(form.yjl_lywd_down) }} {{ render_field(form.yjl_lywd_up) }}
                                        </tr>
                                        <tr>
                                            <td>润叶加料</td>
                                            <td>环境温度</td>
                                            {{ render_field(form.yjl_wd_down) }} {{ render_field(form.yjl_wd_up) }}
                                        </tr>
                                        <tr>
                                            <td>润叶加料</td>
                                            <td>环境湿度</td>
                                            {{ render_field(form.yjl_sd_down) }} {{ render_field(form.yjl_sd_up) }}
                                        </tr>
                                        <tr>
                                            <td>润叶加料</td>
                                            <td>出口温度</td>
                                            {{ render_field(form.yjl_ckwd_down) }} {{ render_field(form.yjl_ckwd_up) }}
                                        </tr>
                                        <tr>
                                            <td>润叶加料</td>
                                            <td>出口水分</td>
                                            {{ render_field(form.yjl_cksf_down) }} {{ render_field(form.yjl_cksf_up) }}
                                        </tr>
                                        </tbody>
                                    </table>
                                    <button type="submit" class="btn btn-default btn-submit">
                                        保存
                                    </button>
                                </form>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="cy">
                            <div class="box-body table-responsive no-padding">
                                <form method="POST">
                                    {{ form.csrf_token }}
                                    <table class="table table-hover">
                                        <tbody>
                                        <tr>
                                            <th>生产阶段</th>
                                            <th>影响因素名称</th>
                                            <th>控制范围下限</th>
                                            <th>控制范围上限</th>
                                        </tr>
                                        <tr>
                                            <td>储叶</td>
                                            <td>温度</td>
                                            {{ render_field(form.cy_wd_down) }} {{ render_field(form.cy_wd_up) }}
                                        </tr>
                                        <tr>
                                            <td>储叶</td>
                                            <td>湿度</td>
                                            {{ render_field(form.cy_sd_down) }} {{ render_field(form.cy_sd_up) }}
                                        </tr>
                                        </tbody>
                                    </table>
                                    <button type="submit" class="btn btn-default btn-submit">
                                        保存
                                    </button>
                                </form>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="qs">
                            <div class="box-body table-responsive no-padding">
                                <form method="POST">
                                    {{ form.csrf_token }}
                                    <table class="table table-hover">
                                        <tbody>
                                        <tr>
                                            <th>生产阶段</th>
                                            <th>影响因素名称</th>
                                            <th>控制范围下限</th>
                                            <th>控制范围上限</th>
                                        </tr>
                                        <tr>
                                            <td>切丝</td>
                                            <td>温度</td>
                                            {{ render_field(form.qs_wd_down) }} {{ render_field(form.qs_wd_up) }}
                                        </tr>
                                        <tr>
                                            <td>切丝</td>
                                            <td>湿度</td>
                                            {{ render_field(form.qs_sd_down) }} {{ render_field(form.qs_sd_up) }}
                                        </tr>
                                        </tbody>
                                    </table>
                                    <button type="submit" class="btn btn-default btn-submit">
                                        保存
                                    </button>
                                </form>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="sssf">
                            <div class="box-body table-responsive no-padding">
                                <form method="POST">
                                    {{ form.csrf_token }}
                                    <table class="table table-hover">
                                        <tbody>
                                        <tr>
                                            <th>生产阶段</th>
                                            <th>影响因素名称</th>
                                            <th>控制范围下限</th>
                                            <th>控制范围上限</th>
                                        </tr>
                                        <tr>
                                            <td>生丝水分</td>
                                            <td>控制值</td>
                                            {{ render_field(form.sssf_down) }} {{ render_field(form.sssf_up) }}
                                        </tr>
                                        </tbody>
                                    </table>
                                    <button type="submit" class="btn btn-default btn-submit">
                                        保存
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--内容-->
{% endblock %}
{% block js %}
    <script type="text/javascript">
        $(document).ready(function () {
            $("#g-2").addClass("active");
            $("#g-2-2").addClass("active");
        })
        {% for msg1 in get_flashed_messages(category_filter=["alarm-success"]) %}
            success_prompt(`{{ msg1|safe }}`);
        {% endfor %}
        {% for msg2 in get_flashed_messages(category_filter=["alarm-error"]) %}
            fail_prompt(`{{ msg2|safe }}`);
        {% endfor %}
    </script>
    {% include 'utils/tab_hash.html' %}
{% endblock %}
