{% extends "admin/admin.html" %}



{% block content %}
    <style>
        .btn-submit {
            float: right;
            margin-right: 10px;
            margin-bottom: 10px;
        }
    </style>
    <section class="content-header">
        <h1>生丝水分控制后台管理系统</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> 生丝水分控制</a></li>
            <li class="active">报警控制</li>
        </ol>
    </section>
    <section class="content" id="showcontent">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title">报警管理</h3>
                    </div>
                    <ul class="nav nav-tabs" role="tablist" style="margin-left: 10px;margin-bottom: 10px">
                        <li role="presentation" class="active">
                            <a href="#ryjl" aria-controls="ryjl" role="tab" data-toggle="tab">润叶加料</a>
                        </li>
                        <li role="presentation">
                            <a href="#sshc" aria-controls="sshc" role="tab"
                               data-toggle="tab">松散回潮</a>
                        </li>
                        <li role="presentation">
                            <a href="#cy" aria-controls="cy" role="tab"
                               data-toggle="tab">储叶</a>
                        </li>
                        <li role="presentation">
                            <a href="#qs" aria-controls="qs" role="tab"
                               data-toggle="tab">切丝</a>
                        </li>
                        <li role="presentation">
                            <a href="#sssf" aria-controls="sssf" role="tab"
                               data-toggle="tab">生丝水分</a>
                        </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="ryjl">
                            <div class="box-body table-responsive no-padding">
                                <form class="form_sub" action="/modify_alert/ryjl" method="POST">
                                    <table class="table table-hover">
                                        <tbody>
                                        <tr>
                                            <th>生产阶段</th>
                                            <th>影响因素名称</th>
                                            <th>控制范围上限</th>
                                            <th>控制范围下限</th>
                                        </tr>
                                        <tr>
                                            <th>润叶加料</th>
                                            <th>入口水分</th>
                                            <th>
                                                <input class="form-control" name="yjl_rksfup"
                                                       placeholder="控制范围上限" value="{{ data.yjl_rksfup }}">
                                            </th>
                                            <th>
                                                <input class="form-control" name="yjl_rksfdown"
                                                       placeholder="控制范围下限" value="{{ data.yjl_rksfdown }}">
                                            </th>
                                        </tr>
                                        <tr>
                                            <th>润叶加料</th>
                                            <th>物料累计重量</th>
                                            <th>
                                                <input class="form-control" name="yjl_wlljzlup"
                                                       placeholder="控制范围上限" value="{{ data.yjl_wlljzlup }}">
                                            </th>
                                            <th>
                                                <input class="form-control" name="yjl_wlljzldown"
                                                       placeholder="控制范围下限" value="{{ data.yjl_wlljzldown }}">
                                            </th>
                                        </tr>
                                        <tr>
                                            <th>润叶加料</th>
                                            <th>瞬时加水量</th>
                                            <th>
                                                <input class="form-control" name="yjl_ssjslup"
                                                       placeholder="控制范围上限" value="{{ data.yjl_ssjslup }}">
                                            </th>
                                            <th>
                                                <input class="form-control" name="yjl_ssjsldown"
                                                       placeholder="控制范围下限" value="{{ data.yjl_ssjsldown }}">
                                            </th>
                                        </tr>
                                        <tr>
                                            <th>润叶加料</th>
                                            <th>料液温度</th>
                                            <th>
                                                <input class="form-control" name="yjl_lywdup"
                                                       placeholder="控制范围上限" value="{{ data.yjl_lywdup }}">
                                            </th>
                                            <th>
                                                <input class="form-control" name="yjl_lywddown"
                                                       placeholder="控制范围下限" value="{{ data.yjl_lywddown }}">
                                            </th>
                                        </tr>
                                        <tr>
                                            <th>润叶加料</th>
                                            <th>环境温度</th>
                                            <th>
                                                <input class="form-control" name="yjl_wdup"
                                                       placeholder="控制范围上限" value="{{ data.yjl_wdup }}">
                                            </th>
                                            <th>
                                                <input class="form-control" name="yjl_wddown"
                                                       placeholder="控制范围下限" value="{{ data.yjl_wddown }}">
                                            </th>
                                        </tr>
                                        <tr>
                                            <th>润叶加料</th>
                                            <th>环境湿度</th>
                                            <th>
                                                <input class="form-control" name="yjl_sdup"
                                                       placeholder="控制范围上限" value="{{ data.yjl_sdup }}">
                                            </th>
                                            <th>
                                                <input class="form-control" name="yjl_sddown"
                                                       placeholder="控制范围下限" value="{{ data.yjl_sddown }}">
                                            </th>
                                        </tr>
                                        <tr>
                                            <th>润叶加料</th>
                                            <th>出口温度</th>
                                            <th>
                                                <input class="form-control" name="yjl_ckwdup"
                                                       placeholder="控制范围上限" value="{{ data.yjl_ckwdup }}">
                                            </th>
                                            <th>
                                                <input class="form-control" name="yjl_ckwddown"
                                                       placeholder="控制范围下限" value="{{ data.yjl_ckwddown }}">
                                            </th>
                                        </tr>
                                        <tr>
                                            <th>润叶加料</th>
                                            <th>出口水分</th>
                                            <th>
                                                <input class="form-control" name="yjl_cksfup"
                                                       placeholder="控制范围上限" value="{{ data.yjl_cksfup }}">
                                            </th>
                                            <th>
                                                <input class="form-control" name="yjl_cksfdown"
                                                       placeholder="控制范围下限" value="{{ data.yjl_cksfdown }}">
                                            </th>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <button type="submit" class="btn btn-default btn-submit">保存</button>
                                </form>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="sshc">
                            <div class="box-body table-responsive no-padding">
                                <form class="form_sub" action="/modify_alert/sshc" method="POST">
                                    <table class="table table-hover">
                                        <tbody>
                                        <tr>
                                            <th>生产阶段</th>
                                            <th>影响因素名称</th>
                                            <th>控制范围上限</th>
                                            <th>控制范围下限</th>
                                        </tr>
                                        <tr>
                                            <th>松散回潮</th>
                                            <th>出口水分</th>
                                            <th>
                                                <input class="form-control" name="sshc_cksfup"
                                                       placeholder="控制范围上限" value="{{ data.sshc_cksfup }}">
                                            </th>
                                            <th>
                                                <input class="form-control" name="sshc_cksfdown"
                                                       placeholder="控制范围下限" value="{{ data.sshc_cksfdown }}">
                                            </th>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <button type="submit" class="btn btn-default btn-submit">保存</button>
                                </form>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="cy">
                            <div class="box-body table-responsive no-padding">
                                <form class="form_sub" action="/modify_alert/cy" method="POST">
                                    <table class="table table-hover">
                                        <tbody>
                                        <tr>
                                            <th>生产阶段</th>
                                            <th>影响因素名称</th>
                                            <th>控制范围上限</th>
                                            <th>控制范围下限</th>
                                        </tr>
                                        <tr>
                                            <th>储叶</th>
                                            <th>温度</th>
                                            <th>
                                                <input class="form-control" name="cy_wdup"
                                                       placeholder="控制范围上限" value="{{ data.cy_wdup }}">
                                            </th>
                                            <th>
                                                <input class="form-control" name="cy_wddown"
                                                       placeholder="控制范围下限" value="{{ data.cy_wddown }}">
                                            </th>
                                        </tr>
                                        <tr>
                                            <th>储叶</th>
                                            <th>湿度</th>
                                            <th>
                                                <input class="form-control" name="cy_sdup"
                                                       placeholder="控制范围上限" value="{{ data.cy_sdup }}">
                                            </th>
                                            <th>
                                                <input class="form-control" name="cy_sddown"
                                                       placeholder="控制范围下限" value="{{ data.cy_sddown }}">
                                            </th>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <button type="submit" class="btn btn-default btn-submit">保存</button>
                                </form>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="qs">
                            <div class="box-body table-responsive no-padding">
                                <form class="form_sub" action="/modify_alert/qs" method="POST">
                                    <table class="table table-hover">
                                        <tbody>
                                        <tr>
                                            <th>生产阶段</th>
                                            <th>影响因素名称</th>
                                            <th>控制范围上限</th>
                                            <th>控制范围下限</th>
                                        </tr>
                                        <tr>
                                            <th>切丝</th>
                                            <th>温度</th>
                                            <th>
                                                <input class="form-control" name="qs_wdup"
                                                       placeholder="控制范围上限" value="{{ data.qs_wdup }}">
                                            </th>
                                            <th>
                                                <input class="form-control" name="qs_wddown"
                                                       placeholder="控制范围下限" value="{{ data.qs_wddown }}">
                                            </th>
                                        </tr>
                                        <tr>
                                            <th>切丝</th>
                                            <th>湿度</th>
                                            <th>
                                                <input class="form-control" name="qs_sdup"
                                                       placeholder="控制范围上限" value="{{ data.qs_sdup }}">
                                            </th>
                                            <th>
                                                <input class="form-control" name="qs_sddown"
                                                       placeholder="控制范围下限" value="{{ data.qs_sddown }}">
                                            </th>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <button type="submit" class="btn btn-default btn-submit">保存</button>
                                </form>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="sssf">
                            <div class="box-body table-responsive no-padding">
                                生丝水分
                                <form>
                                    <table class="table table-hover">
                                        <tbody>
                                        <tr>
                                            <th>生产阶段</th>
                                            <th>影响因素名称</th>
                                            <th>控制范围上限</th>
                                            <th>控制范围下限</th>
                                        </tr>

                                        </tbody>
                                    </table>
                                    <button type="submit" class="btn btn-default btn-submit">保存</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--内容-->
{% endblock %}


{% block js %}
    <script type="text/javascript">
        $(document).ready(function () {
            $("#g-2").addClass("active");
            $("#g-2-2").addClass("active");
        })
        $(".form_sub").submit(function (event) {
            event.preventDefault();
            $(this).ajaxSubmit({
                success: function (data) { // data 保存提交后返回的数据，一般为 json 数据
                    console.log(data)
                    success_prompt("保存成功")
                }
            });
        });
    </script>
{% endblock %}
