{% extends "admin/admin.html" %}


{% block content %}
    <section class="content-header">
        <h1>生丝水分控制后台管理系统</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> 可视化分析</a></li>
            <li class="active">湿度可视化</li>
        </ol>
    </section>
    <section class="content" id="showcontent">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title">湿度分段统计趋势图</h3>
                        <div class="box-tools">

                        </div>
                    </div>
                    <div class="box-body table-responsive no-padding">
                        <div id="main" style="width: 600px;height:400px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}


{% block js %}
    <script>
        $(document).ready(function () {
            $("#g-3").addClass("active");
            $("#g-3-2").addClass("active");
        })
    </script>
    <script src="{{ url_for('static', filename='js/echarts.min.js') }}"></script>
    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));

        // 指定图表的配置项和数据
        var option = {
            title: {
                text: '',
            },
            tooltip: {
                trigger: 'axis',
            },
            legend: {
                data: ['润叶加料', '储叶', '切丝'],
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true,
            },
            toolbox: {},
            xAxis: {
                type: 'category',
                boundaryGap: false,
                splitLine: {show: false},
                data: [
                    '0时',
                    '2时',
                    '4时',
                    '6时',
                    '8时',
                    '10时',
                    '12时',
                    '14时',
                    '16时',
                    '18时',
                    '20时',
                    '22时',
                    '24时',
                ],
                axisLabel: {
                    textStyle: {
                        color: '#3c8dbc',
                    },
                },
                axisLine: {
                    lineStyle: {
                        color: '#3c8dbc',
                    },
                },
            },
            yAxis: {
                type: 'value',
                splitLine: {show: false},
                axisLabel: {
                    textStyle: {
                        color: '#3c8dbc',
                    },
                },
                axisLine: {
                    lineStyle: {
                        color: '#3c8dbc',
                    },
                },
            },
            series: [
                {
                    name: '润叶加料',
                    type: 'line',
                    stack: '总量',
                    data: [66.5, 68.9, 60.6, 68.7, 64.2, 66.4, 69.7, 60.5, 61.3, 68, 68.7, 69.7, 68.1],
                    itemStyle: {
                        normal: {
                            lineStyle: {
                                color: '#202124',
                            },
                        },
                    },
                },
                {
                    name: '储叶',
                    type: 'line',
                    stack: '总量',
                    data: [67.5, 66.9, 67.6, 68.7, 66.2, 67.4, 69.7, 67.5, 66.3, 68, 68.7, 66.7, 68.1],
                    itemStyle: {
                        normal: {
                            lineStyle: {
                                color: '#99ff99',
                            },
                        },
                    },
                },
                {
                    name: '切丝',
                    type: 'line',
                    stack: '总量',
                    data: [68.5, 63.9, 67.6, 64.7, 62.2, 60.4, 67.7, 65.5, 64.3, 66, 65.7, 66.7, 64.1],
                    itemStyle: {
                        normal: {
                            lineStyle: {
                                color: '#33ffff',
                            },
                        },
                    },
                },
            ],
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    </script>
{% endblock %}
