{% extends "admin/admin.html" %}
{% import "ui/admin_page.html" as pg %}
{% block content %}
    {# 修改 css 让时间框框展示出来 #}
    <style>
        .box-body {
            overflow: visible;
        }
    </style>
    <section class="content-header">
        <h1>生丝水分控制后台管理系统</h1>
        <ol class="breadcrumb">
            <li>
                <a href="#"><i class="fa fa-dashboard"></i> 生丝水分控制</a>
            </li>
            <li class="active">人工干预</li>
        </ol>
    </section>
    <section class="content" id="showcontent">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title">人工干预历史</h3>
                        <div class="box-tools"></div>
                    </div>
                    <div class="box-body table-responsive no-padding">
                        <div class="container" id="search-container">
                            <div class="row">
                                <div class="col-sm-3" style="padding-right: 0">
                                    <input
                                            type="text"
                                            class="form-control datetimepicker"
                                            id="datetimepicker1"
                                    />
                                </div>
                                <div
                                        class="col-sm-1"
                                        style="
                  height: 100%;
                  padding: 10px 0;
                  line-height: 100%;
                  text-align: center;
                "
                                >
                <span
                        class="glyphicon glyphicon-arrow-right"
                        aria-hidden="true"
                ></span>
                                </div>
                                <div class="col-sm-3" style="padding-left: 0">
                                    <input
                                            type="text"
                                            class="form-control datetimepicker"
                                            id="datetimepicker2"
                                    />
                                </div>
                                <button class="btn btn-default" id="search">查询</button>
                                <button
                                        class="btn btn-default"
                                        id="clear-search"
                                        style="visibility: hidden"
                                >
                                    清除
                                </button>
                            </div>
                        </div>
                        <table class="table table-hover">
                            <tbody>
                            <tr>
                                <th>时间</th>
                                <th>累计加水量</th>
                                <th>生丝水分</th>
                            </tr>
                            {% for v in page_data.items %}
                                <tr>
                                    <td>{{ v.create_at }}</td>
                                    <td>{{ v.rg_ljjsl }}</td>
                                    <td>{{ v.rg_sssf }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="box-footer clearfix">
                        {% if search %} {{ pg.page(page_data, "admin.manual",
          from=search.from, to=search.to) }} {% else %} {{ pg.page(page_data,
          "admin.manual") }} {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %} {% block js %}

    <script src="{{ url_for('static', filename='js/moment.js') }}"></script>
    <script src="{{ url_for('static', filename='js/moment-zh-cn.js') }}"></script>
    <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/bootstrap-datetimepicker.min.css') }}"
    />
    <script src="{{ url_for('static', filename='js/bootstrap-datetimepicker.min.js') }}"></script>
    <script>
        $(document).ready(function () {
            $("#g-2").addClass("active");
            $("#g-2-3").addClass("active");
            const queryString = window.location.search;
            const params = new URLSearchParams(queryString);
            if (params.get("from")) {
                const from = parseInt(params.get("from"));
                $("#datetimepicker1").data("DateTimePicker").date(moment(from));
            }
            if (params.get("to")) {
                const to = parseInt(params.get("to"));
                $("#datetimepicker2").data("DateTimePicker").date(moment(to));
                $("#clear-search").css("visibility", "visible");
            }
        });
    </script>
    <script type="text/javascript">
        $(".datetimepicker").datetimepicker({
            locale: "zh-CN",
        });
        $("#search").click(() => {
            let time1 = $("#datetimepicker1").data("DateTimePicker").viewDate();
            let time2 = $("#datetimepicker2").data("DateTimePicker").viewDate();
            // 转换为时间戳
            changeUrlParams({from: time1.format("x"), to: time2.format("x")});
        });
        $("#clear-search").click(() => {
            clearUrlParams();
        });
    </script>
{% endblock %}
