{% extends "admin/admin.html" %}


{% block content %}
<!--内容-->
    <section class="content-header">
        <h1>生丝水分控制后台管理系统</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> 统计查询</a></li>
            <li class="active">统计</li>
        </ol>
    </section>
<!--内容-->
{% endblock %}


{% block js %}
    <script>
        $(document).ready(function () {
            $("#g-4").addClass("active");
            $("#g-4-2").addClass("active");
        })
    </script>
{% endblock %}
